<page-header [title]="'考勤统计'">
  教师查阅签到信息
</page-header>

<!--签到信息-->
<nz-card [nzBordered]="false" nzTitle="课程签到信息" class="mb-lg" *ngIf="hasSignData">
  <div *ngFor="let courseItem of courseSignData; index as i;">
    <nz-card nzType="inner" nzTitle="课程{{i+1}}" >
      <desc-list size="small" title="基本教学信息" class="mb-md">
        <desc-list-item term="授课课程">kkk</desc-list-item>
        <desc-list-item term="授课班级">1234567</desc-list-item>
      </desc-list>

      <nz-divider class="mb-md"></nz-divider>
      <desc-list size="small" title="签到信息">
        <desc-list-item term="已上学时">付小小</desc-list-item>
        <desc-list-item term="缺勤人次">1234568</desc-list-item>
        <desc-list-item term="迟到人次">1234568</desc-list-item>
        <desc-list-item term="早退人次">1234568</desc-list-item>
      </desc-list>
      <nz-divider class="mb-md"></nz-divider>
      <button nz-button [nzType]="'primary'" (click)="showModal()"><span>详情</span></button>
    </nz-card>
  </div>
</nz-card>

<!--详情信息模态框-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="签到详情" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <nz-table #basicTable [nzData]="detailsDataSet">
    <thead>
    <tr>
      <th>学生姓名</th>
      <th>缺勤次数</th>
      <th>迟到次数</th>
      <th>早退次数</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.name}}</td>
      <td>{{data.absence}}</td>
      <td>{{data.late}}</td>
      <td>{{data.leave}}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-modal>

<nz-card [nzBordered]="false" nzTitle="课程签到信息" class="mb-lg" *ngIf="hasSignData==false">
  <div class="no-data">
    <i class="anticon anticon-frown-o"></i>暂无数据
  </div>
</nz-card>
