<page-header [title]="'组织结构'">
  管理员修改组织结构
</page-header>
<nz-card [nzBordered]="false">
  <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
    <button class="btn-box" nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" (click)="getSchoolData()">
      查看
    </button>
    <button class="btn-box" nz-button (click)="AddSchool()" [nzType]="'primary'" >
      <i class="anticon anticon-plus"></i><span>添加学校</span>
    </button>
  </nz-row>

  <simple-table #st [columns]="columns" [data]="courseDetailData" [loading]="loading"
  >
  </simple-table>

</nz-card>
