<nz-card [nzBordered]="false">
    <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
        <button class="btn-box" nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" (click)="getCourseData()">
            查询授课安排
        </button>
        <button class="btn-box" nz-button (click)="openAddCoursePage()" [nzType]="'primary'">
            <i class="anticon anticon-plus"></i><span>添加课程</span>
        </button>
    </nz-row>


    <simple-table #st [columns]="columns" [data]="courseDetailData" [loading]="loading"
                  (filterChange)="getCourseData()">
    </simple-table>
</nz-card>

<!--添加课程表模态框-->
<nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" nzTitle="课程列表" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="form" >
        <nz-form-item>
            <nz-form-label nzSpan="5" nzRequired>开始周</nz-form-label>
            <nz-form-control [nzSpan]="5">
                <nz-select formControlName="start_week" [(ngModel)]="selectCourseList.select_start_week">
                    <nz-option [nzLabel]="data" [nzValue]="data" *ngFor="let data of skip.start_week"></nz-option>
                </nz-select>
            </nz-form-control>

            <nz-form-label nzSpan="5" nzRequired>结束周</nz-form-label>
            <nz-form-control [nzSpan]="5">
                <nz-select formControlName="end_week" [(ngModel)]="selectCourseList.select_end_week">
                    <nz-option [nzLabel]="data" [nzValue]="data" *ngFor="let data of skip.end_week"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzSpan="5" nzRequired>授课星期</nz-form-label>
            <nz-form-control [nzSpan]="5">
                <nz-select formControlName="week" [(ngModel)]="selectCourseList.select_week">
                    <nz-option [nzLabel]="data.week_name" [nzValue]="data.week_id" *ngFor="let data of skip.week"></nz-option>
                </nz-select>
            </nz-form-control>

            <nz-form-label nzSpan="5" nzRequired>授课时段</nz-form-label>
            <nz-form-control [nzSpan]="5">
                <nz-select formControlName="time" [(ngModel)]="selectCourseList.select_time">
                    <nz-option [nzLabel]="data.time_name" [nzValue]="data.time_id" *ngFor="let data of skip.time"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzSpan="5" nzRequired>上课教室</nz-form-label>
            <nz-form-control [nzSpan]="19">
                <nz-select formControlName="course_address" [(ngModel)]="selectCourseList.select_course_address">
                    <!--[nzLabel]表示显示的内容，[nzValue]表示获取的内容-->
                    <nz-option [nzLabel]="data.building_name+' '+data.name+' '+data.title"
                               [nzValue]="data.id"
                               *ngFor="let data of skip.course_address"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzSpan]="19" [nzOffset]="5">
                <button nz-button [nzType]="'primary'" [nzLoading]="loading" (click)="addCourseDetail()">添加</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>

<!--显示二维码模态框-->
<nz-modal [(nzVisible)]="isQRVisible" [nzFooter]="null" nzTitle="课程二维码" (nzOnCancel)="handleCancel()">
    <img src="{{QRUrl}}"/>
</nz-modal>