<nz-card [nzBordered]="false">
    <p>{{CourseName}}</p>
    <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
        <button nz-button [nzType]="'primary'" [nzLoading]="loading" class="btn-box" (click)="getSignDetail()">刷新</button>
        <button nz-button (click)="prev()" class="btn-box">返回上一页</button>
    </nz-row>


    <nz-row [nzGutter]="16" class="py-lg">
        <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
                <a (click)="msg.info('弹性计算')" class="d-block text-center text-primary">
                    <i class="anticon anticon-rocket display-1 mb-md"></i>
                    <h2 class="mb0">弹性计算</h2>
                </a>
            </nz-card>
        </nz-col>
        <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
                <a (click)="msg.info('存储与CDN')" class="d-block text-center text-red">
                    <i class="anticon anticon-hdd display-1 mb-md"></i>
                    <h2 class="mb0">存储与CDN</h2>
                </a>
            </nz-card>
        </nz-col>
        <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
                <a (click)="msg.info('会员服务')" class="d-block text-center text-orange">
                    <i class="anticon anticon-user display-1 mb-md"></i>
                    <h2 class="mb0">会员服务</h2>
                </a>
            </nz-card>
        </nz-col>
        <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
                <a (click)="msg.info('数据库')" class="d-block text-center text-purple">
                    <i class="anticon anticon-database display-1 mb-md"></i>
                    <h2 class="mb0">数据库</h2>
                </a>
            </nz-card>
        </nz-col>
        <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
                <a (click)="msg.info('域名与网站')" class="d-block text-center text-cyan">
                    <i class="anticon anticon-api display-1 mb-md"></i>
                    <h2 class="mb0">域名与网站</h2>
                </a>
            </nz-card>
        </nz-col>
        <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
                <a (click)="msg.info('网络')" class="d-block text-center text-teal">
                    <i class="anticon anticon-global display-1 mb-md"></i>
                    <h2 class="mb0">网络</h2>
                </a>
            </nz-card>
        </nz-col>
        <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
                <a (click)="msg.info('应用服务')" class="d-block text-center text-pink">
                    <i class="anticon anticon-appstore-o display-1 mb-md"></i>
                    <h2 class="mb0">应用服务</h2>
                </a>
            </nz-card>
        </nz-col>
        <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
                <a (click)="msg.info('开发者工具')" class="d-block text-center text-success">
                    <i class="anticon anticon-tool display-1 mb-md"></i>
                    <h2 class="mb0">开发者工具</h2>
                </a>
            </nz-card>
        </nz-col>
    </nz-row>
</nz-card>