<nz-card [nzBordered]="false">
    <p>{{CourseName}}</p>
    <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
        <button nz-button [nzType]="'primary'" [nzLoading]="loading" class="btn-box" (click)="getSignDetail()">刷新</button>
        <button nz-button (click)="prev()" class="btn-box">返回上一页</button>
    </nz-row>

    <div class="gutter-example">
        <div nz-row [nzGutter]="gutter" *ngFor="let c of seatArray; let i_c = index">
            <div nz-col class="gutter-row" [nzSpan]="24/count" *ngFor="let r_data of seatArray[i_c]; let i_r = index">
                <div class="grid-config grid-no-selected" *ngIf="r_data.index==null">
                    {{r_data.seat_No}}
                </div>
                <div class="grid-config grid-selected" *ngIf="r_data.index!=null" (click)="showSeatDetailModel(r_data.index)">
                    {{r_data.name}}<br>
                    {{r_data.number}}<br>
                    {{r_data.seat_No}}
                </div>
            </div>
        </div>
    </div>
</nz-card>

<!--详细信息模态框-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="签到详情" [nzFooter]="null" (nzOnCancel)="handleCancel()">
    <nz-card nzType="inner" nzTitle="学生签到信息" >
        <desc-list size="small" title="" class="mb-md">
            <desc-list-item term="姓名">{{seatDetailData.name}}</desc-list-item>
        </desc-list>
        <desc-list size="small" title="" class="mb-md">
            <desc-list-item term="学号">{{seatDetailData.number}}</desc-list-item>
        </desc-list><desc-list size="small" title="" class="mb-md">
            <desc-list-item term="签到情况">{{seatDetailData.signon}}</desc-list-item>
        </desc-list><desc-list size="small" title="" class="mb-md">
            <desc-list-item term="签退情况">{{seatDetailData.signout}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-md"></nz-divider>
        <button nz-button [nzType]="'primary'" (click)="deleteSign(seatDetailData.id)" *ngIf="seatDetailData.is_delete"><span>清除签到</span></button>
    </nz-card>
</nz-modal>