
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" >
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="courseName">课程名</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="courseName" id="courseName" [(ngModel)]="AddCourseList.courseName" placeholder="请输入课程名">
        <nz-form-explain *ngIf="form.get('courseName').dirty && form.get('courseName').errors">请输入课程名</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="courseID">课程号</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="courseID" id="courseID" [(ngModel)]="AddCourseList.courseID" placeholder="请输入课程号">
        <nz-form-explain *ngIf="form.get('courseID').dirty && form.get('courseID').errors">请输入课程号</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="courseTime">学时</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="courseTime" id="courseTime" [(ngModel)]="AddCourseList.courseTime" placeholder="请输入学时">
        <nz-form-explain *ngIf="form.get('courseTime').dirty && form.get('courseTime').errors">请输入学时</nz-form-explain>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired nzFor="school">学校</nz-form-label>
      <nz-form-control nzSpan="19">
        <nz-input-group nzSearch [nzSuffix]="suffixButton">
          <input nz-input formControlName="school" id="school" readonly="readonly" type="text" nz-input placeholder="选择学校/学院/专业">
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSearch [nzLoading]="loading" (click)="getSchool()">选择学校/学院/专业</button>
        </ng-template>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
        <button nz-button [nzType]="'primary'" [nzLoading]="loading" (click)="addCourse()">提交</button>
        <button nz-button [nzType]="'primary'" [nzLoading]="loading" (click)="prev()">取消</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<nz-modal [(nzVisible)]="isVisible" nzTitle="学校" (nzOnCancel)="handleCancel()">
  <nz-table #basicTable [nzData]="schoolList">
    <thead>
    <tr>
      <th>学校/学院/专业</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data" (click)="chooseSchool(data)" style="cursor: pointer">
      <td >{{'-'.repeat(data.level)}}{{data.title}}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-modal>
