<page-header [title]="'课程管理'">
  管理员可增加课程
</page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()">
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="courseName">课程名</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <input nz-input formControlName="courseName" id="courseName" placeholder="请输入课程名">
          <nz-form-explain *ngIf="form.get('courseName').dirty && form.get('courseName').errors">请输入课程名</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="courseID">课程号</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <input nz-input formControlName="courseID" id="courseID" placeholder="请输入课程号">
          <nz-form-explain *ngIf="form.get('courseID').dirty && form.get('courseID').errors">请输入课程号</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="courseTime">学时</nz-form-label>
          <nz-form-control nzXs="24" nzSm="12" nzMd="10">
            <input nz-input formControlName="courseTime" id="courseTime" placeholder="请输入学时">
            <nz-form-explain *ngIf="form.get('courseTime').dirty && form.get('courseTime').errors">请输入学时</nz-form-explain>
          </nz-form-control>
       </nz-form-item>

   <nz-form-item>
    <nz-form-label nzFor="school" nzXs="8" nzSm="7"  >学校</nz-form-label>
    <nz-form-control nzXs="8" nzSm="12" nzMd="10">
      <nz-select  name="school" id="school" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
        <nz-option *ngFor="let i of school; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="college" nzXs="8" nzSm="7">学院</nz-form-label>
      <nz-form-control nzXs="8" nzSm="12" nzMd="10">
        <nz-select  name="college" id="college" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
          <nz-option *ngFor="let i of college; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="profession" nzXs="8" nzSm="7"  >专业</nz-form-label>
      <nz-form-control nzXs="8" nzSm="12" nzMd="10">
        <nz-select  name="profession" id="profession" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
          <nz-option *ngFor="let i of profession; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!--<nz-form-item>-->
      <!--<nz-form-label nzXs="8" nzSm="7">学校/学院/专业</nz-form-label>-->
      <!--<nz-select style="width: 120px;" [(ngModel)]="selectedProvince" (ngModelChange)="provinceChange($event)">-->
        <!--<nz-option *ngFor="let p of provinceData" [nzValue]="p" [nzLabel]="p"></nz-option>-->
      <!--</nz-select>-->
      <!--<nz-select style="width: 120px;" [(ngModel)]="selectedCity">-->
        <!--<nz-option *ngFor="let c of cityData[selectedProvince]" [nzValue]="c" [nzLabel]="c"></nz-option>-->
      <!--</nz-select>-->
    <!--</nz-form-item>-->

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
        <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">提交</button>
        <button nz-button class="ml-sm">保存</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
