<h3>忘记密码</h3>
<form nz-form [formGroup]="form" (ngSubmit)="forgetPassword()" role="form">
    <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group nzSize="large" nzAddonBeforeIcon="anticon anticon-user">
                <input nz-input formControlName="mail" placeholder="输入邮箱获取新密码,请使用QQ邮箱，其他邮箱暂不支持">
            </nz-input-group>
            <ng-container *ngIf="mail.dirty && mail.errors">
                <nz-form-explain *ngIf="mail.errors?.required">请输入邮箱地址！</nz-form-explain>
                <nz-form-explain *ngIf="mail.errors?.email">邮箱地址格式错误！</nz-form-explain>
            </ng-container>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <button nz-button nzType="primary" nzSize="large" type="submit" class="submit">
            <span>提交获取新密码</span>
        </button>
    </nz-form-item>
</form>
